*{
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    place-items: center; 
}

.container h1{
color : white;
margin-top: 5%;
font-size: 60px;

}

.form{
    height: auto;
    width: 50%;
    background-color: white;
    border-radius: 3%;
    padding: 30px;

}

.form h2{
    border-bottom: solid darkcyan 1px;
    padding: 20px;
    font-weight: 25px;
    padding-bottom: 30px;
}

.form .btn{
height: 50px;
width: 100%;
border: 1px solid #222;
border-radius: 4px;
font-size: larger;
cursor: pointer;
padding: 10px;
margin: 15px 0;
text-align: left;
transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-button{
background-color:cadetblue;
font-size: large;
color: #222;
width: 150px;
border: 0;
padding: 10px;
margin: 20px auto 0;
border-radius: 4px;
cursor: pointer;
display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container h1{
        font-size: 35px;
        margin-top: 10%;
    }
    .form{
        width: 70%;
    }
}

@media (max-width: 767px) {
 .container h1{
        font-size: 35px;
        margin-top: 10%;
    }
     .form{
        width: 70%;
    }
}